# WordPress core
/wp-admin/
/wp-includes/
/wp-config.php
/.htaccess

# Plugins y caché de WordPress
/wp-content/plugins/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/debug.log

# Sistema
.DS_Store
Thumbs.db